* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.total-width {
    width: 1440px;
}

.d-gray {
  background-color: darkgrey;
}

.gray {
  background-color: gray;
}

.l-gray {
    background-color: lightgray;
}

.d-flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

/* ---------- Header --------- */

.header {
  height: 15vh;
  align-items: center;
}

.logo-div {
  height: 50px;
  width: 200px;
}

.list-item {
  height: 35px;
  width: 70px;
}